{% extends "recordapp/base.html" %}
{% block content %}
<h2>学習記録</h2>
<div class="post">
    <p>本日の作業内容：{{ post.what_done }}</p>
    <p>日時：{{ post.date }}</p>
    <p>本日の課題：{{ post.what_not_done }}</p>
    <p>本日の取得スキル：{{ post.what_learned }}</p>
    <div>まとめノート
        {% if post.summary_image %}
        <img src="{{ post.summary_image.url }}" alt="まとめノート">
        {% else %}
            <p>画像はありません</p>
        {% endif %}
    </div>
</div>
{% if user.is_authenticated %}
<a href="{% url 'recordapp:detail_update' post.slug %}">編集</a><br>
<a href="{% url 'recordapp:detail_delete' post.slug %}">削除</a><br>
{% endif %}
<a href="{% url 'recordapp:index' %}">一覧に戻る</a>

{% endblock %}