{% extends "recordapp/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token%}
    <p>このページを削除してよろしいですか</p>
    {{form.as_p}}
    <button type="submit">削除</button>
</form>
<h2>学習記録</h2>
<div class="post">
    <p>本日の作業内容：{{ post.what_done }}</p>
    <p>日時：{{ post.date }}</p>
    <p>本日の課題：{{ post.what_not_done }}</p>
    <p>本日の取得スキル：{{ post.what_learned }}</p>
    <div>まとめノート
        {% if post.summary_image %}
        <img src="{{ post.summary_image.url }}" alt="まとめノート">
        {% else %}
            <p>画像はありません</p>
        {% endif %}
    </div>
</div>
{% endblock %}