    {% extends "recordapp/base.html" %}
    {% block content %}
    <h2>プログラミング学習記録</h2>

    {% if user.is_authenticated %}
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token%}
        <button type="submit">ログアウト</button>
    </form>
    <div class="record"><a  href="{% url 'recordapp:post'%}"><i class="fas fa-pencil-alt"></i>記録を書く</a></div>

    {% else %}
    <a  href="{% url 'accounts:login' %}">ログイン</a>
    {% endif %}

    <ul>
        {% for post in posts %}
            <li>{{ post.date }}<br>{{ post.what_done }}  
                <a class="detail" href="{% url 'recordapp:detail' post.slug%}">詳細</a>
            </li>

        {% empty %}
            <li>勉強記録がありません。</li>
        {% endfor %}
    </ul>

    {% endblock %}
